@model IEnumerable<onllineexam.Models.Result_By_Test_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.F_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.L_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stu_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year_of_comp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.testid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Test_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sub_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sub_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.F_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stu_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qualification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year_of_comp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.testid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Test_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sub_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sub_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResId })
        </td>
    </tr>
}

</table>
