@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
@model onllineexam.Models.DrpList
<h2>Select Exam</h2>
<div class="col-md-5 col-sm-6">
    @using (Html.BeginForm("Index", "Upload"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.QuestionNo, 1)
            <div class="form-group">
                @Html.Label("Exam ID", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.DropDownList("item1", ViewBag.name as SelectList, "Select Exam")*@
                    @Html.DropDownListFor(m => m.examid, new SelectList(Model.Examlist, "Test_id", "Test_name"), "Select Exam")

                    @Html.ValidationMessageFor(model => model.exam_title)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create Exam" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<br>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
