@model IEnumerable<onllineexam.Models.Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.score1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.F_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.sub_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestGenerator.Test_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.score1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.F_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.sub_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestGenerator.Test_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResId })
        </td>
    </tr>
}

</table>
