@model onllineexam.Models.QuestionData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuestionData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.option1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.option1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.option2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.option2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.option3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.option3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.option4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.option4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correct_option)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correct_option)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestGenerator.Test_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestGenerator.Test_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
